<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #594949; margin: 0; padding: 20px; color: #594949 ;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #333;">Welcome to Our Service!</h2>
        <p>Dear <span th:text="${userName}"> </span></p>
        <p>Thank you for registering with us. We're excited to have you on board!</p>
        <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
        <p>Best regards,<br>Wassim's Ecommerce Team</p>
    </div>

</body>
</html>